# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*.js                                 @MetaMask/wallet-framework-engineers
package.json                         @MetaMask/wallet-framework-engineers
.github/                             @MetaMask/wallet-framework-engineers
